*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.header{
  max-width:1414px;
  margin: 0 auto;
}
main{
  max-width: 1414px;
  margin: 0 auto;
}

/* @import "tailwindcss" */
/* header style */
.header{
  display: flex;
  align-items: center;
 background-color: #161616;
  color: white;
  border-radius: 30px;
  border: none;
}
.header-title{
  padding: 110px 80px 110px 125px;
}
.title{
max-width: 560px;
 font-family: "Poppins", sans-serif;
  font-weight:bold;
  font-size: 70px;
}
.des{
  max-width: 540px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn{
  max-width: 185px;
  max-height: 60px;
  padding: 16px 25px;
  background-color: #DD0000;
  border-radius: 5px;
  border: none;
  color: white;
  display: block;
}
.btn:hover{
  background-color: #161616;
  border: 3px blueviolet solid;
}
.header-img img{
 max-width: 100%;
}
/* section style */
.section-one{
  display: flex ;
  gap: 20px;
  padding: 50px 0;
}
.button-show{
  background-color: #161616;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 25%;
  height: fit-content;
  padding: 25px;
  gap: 20px;
}
.btnb{
border:none;
border-radius:10px;
font-family: "Poppins", sans-serif;
font-size:20px;
font-weight: 600px;
padding: 20px;
}
.button-show .btnb:nth-child(3){
  background-color: #DD0000;
  color: white;
}
.btnb:nth-child(3):hover{
background-color: bisque;
color: #161616;
border: 3px blue solid;
}
.btnb:hover{
  background-color: aqua;
  color: #DD0000;
  border: 3px solid burlywood;
}
.parents{
  flex: 1;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
}
.match-card{
  border-radius: 10px;
  border: 2px black solid;

}
.card-body{
  padding: 20px;
}
.match-card img{
max-height: 170px;
width: 100%;
border-radius: 10px 10px 0 0;
 
}
.bottom-button{
  display: flex;
  gap: 40px;
  color: rgba(22, 22, 22, 0.8);
}
.card{
  width: 100px;
  height: 32px;
  color: #161616;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.title-h{
  max-width: 275px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}


/* footer style */
footer{
  background-color: #161616;
  color: white;
  height: 450px;
  align-content: center;
  justify-content:center ;
}
.nav h2{
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 600px;
}
.navs ul{
  padding-left: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}
.navs ul a{
  text-decoration: none;
  color: white;
}
/* responsive */
@media screen and (max-width:576px) {
  .header,
  .section-one,
  .button-show{
    flex-direction:column;
    max-width: 100%;
  }
  .button-show{
    width: 100%;
    padding: 5px;
  }
  .btnb{
    display:block;
    width: 100%;
    padding:5px;
  }
  .parents{
 display: grid;
 grid-template-columns: repeat(1,1fr);
 gap: 10px;
}
.container{
  max-width:100%;
  margin:0;
}
footer{
  height: fit-content;
  
}
.navs ul{
  flex-wrap: wrap;
  row-gap: 10px;
}

}